@model ChatViewModel
@inject SalePortal.Data.ILibrary _library;
@{
    int userId = _library.GetUserId(User.Claims.ToList());
    string path = "~/Images/" + $"{Model.Chat.CommodityId}" + ".png";
}
<div class ="page">
    <img  src="@path" asp-append-version="true" width="150" />
    
</div>
<div>
    <p><h1>@Model.Chat.Commodity.Name</h1></p>
    <br />
    <a class="btn btn-danger" asp-action="DeleteChat" asp-controller="Chat" asp-route-chatId="@Model.Chat.Id"><b>Delete chat</b></a>
</div>

<input id="chatId" type="hidden" value="@Model.Chat.Id" />
<input id="userId" type="hidden" value="@userId" />
<hr />
<div id="chatroom">
    @foreach (var item in Model.Messages)
    {
        <p>@item.Sender.Name: <b>@item.Message</b></p>
    }
</div>
<div id="divChatInput" class="divChatInput">
    <input id="chatInput" type="text" />
    <button id="sendBtn" class="btn btn-primary">Send</button>
</div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chatclientsitejsss.js"></script>