@inject SalePortal.Data.ILibrary _library;
@model SalePortal.Entities.CommodityOrderEntity;

@{
    string path = "~/Images/" + $"{Model.Commodity.Id}" + ".png";
    int userid = 0;
    if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
    {
        userid = _library.GetUserId(User.Claims.ToList());
    }
}
<h1 class="page">@Model.Commodity.Name</h1>
<div >
    <img width="150" src="@path" asp-append-version="true" />
    <div id="IsSubmitted">
        @if (Model.ApprovedByOwner == false)
    {
        <img width="130" src="~/icons/close-222-1153172.png" />
    }
    @if (Model.ApprovedByOwner)
    {
        <img width="130" src="~/icons/sibmitted-icon-.png" />
    }
    </div>
    
</div>
<input id="orderId" type="hidden" value="@Model.Id" />
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commodity.Price)
        </dd>
        
    </dl>

    @if (userid == Model.CommodityOwnerId)
    {
        @if (Model.ApprovedByOwner == false)
        {
            <a id="submit" class="btn btn-success">Approve Order?</a>
        }
        @if (Model.ApprovedByOwner == true)
        {
            <a id="submit" class="btn btn-success">Disapprove Order?</a>
        }
        
    }
    @if (userid == Model.CommodityOwnerId || userid == Model.CustomerId)
    {
        <a id="deleteOrder" class="btn btn-danger">Delete Order?</a>
    }
</div>

@section Scripts {
    <script>
        document.getElementById("submit").addEventListener("click", function () {
            document.getElementById("IsSubmitted").innerHTML = "";
            $('#IsSubmitted').load("/Identity/ApproveOrder/?orderId=@Model.Id")
            var buttomValue = document.getElementById("submit").value;
            if (buttomValue == "Approve Order?") {
                document.getElementById("submit").textContent = "Disapprove Order?"
            };
            if (buttomValue == "Disapprove Order?") {
                document.getElementById("submit").textContent = "Approve Order?"
            };
        });
    </script>
}
<script src="~/js/deleteorder.js"></script>