@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

<hr />

<div id="login-form-wrap" class="text-center">
    <h2>@localizer["Login"]</h2>
    <h1 class="text-danger" > @ViewData["Message"]</h1>
    <h1 class="text-success">@ViewData["Succeeded"]</h1>
    <h1 class="text-danger">@ViewData["NotFound"]</h1>
    <h1 class="text-danger">@ViewData["WrongCode"]</h1>
    <h1 class="text-success">@ViewData["PasswordChanged"]</h1>
    <form asp-controller="Identity" asp-action="ValidateData" method="post">
        <p>
            <input type="text"  name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <input type="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
        </p>
        <p>
            <button class="btn btn-primary" type="submit">@localizer["submit"]</button>
        </p>
    </form>
    <div id="create-account-wrap">
        <p>@localizer["Not a member?"] <a asp-action="Registration" asp-controller="Identity">@localizer["Create Account"]</a><p>
        <p>@localizer["Forgot the password?"] <a asp-action="password" asp-controller="Identity"> @localizer["Recover?"] </a> </p>
    </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
