@model List<SalePortal.Data.CommodityEntity>
@{
    var claims = User.Claims.ToList();
    var Name = User.Identity.Name;
    var SurName = claims[3].ToString().Split(':')[1].Trim().ToString();
    var EmailAddress = claims[4].ToString().Split(':')[1].Trim().ToString();
    var PhoneNumber = claims[5].ToString().Split(':')[1].Trim().ToString();
}

<div class="text-center">
    <h1>User page</h1>
    <img src="Icons/user1.png" width="50" />
    <h2>@Name @SurName</h2>
</div>
<hr />
<p>Phone number: @EmailAddress</p>
<br />
<p>Email: @EmailAddress</p>
<hr />

<h3>Your adverts: </h3>
@foreach (var item in Model)
{



    string path = "~/Images/" + $"{item.Id}" + ".png";
    <form asp-controller="Commodity" asp-action="Details" asp-route-id = "@item.Id">
        <button type="submit" >
            <div>
                <img src="@path" asp-append-version="true" width="50" />
                <p>@(char.ToUpper(item.Name[0]) + item.Name.Substring(1))</p>
                <p>@Math.Round(item.Price,2)</p>
                <p>@item.Description</p>
                <p>@item.PublicationDate</p>
            </div>
        </button>
    </form>
    <br />
}
<div class="text-md-end">
    <a class="btn btn-primary" asp-controller="Commodity" asp-action="Create">Add new </a>
</div>
