@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@model List<SalePortal.Data.CommodityEntity>;


 
<div class="text-center page ">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <h2>@ViewData["Text"]</h2>
    
    
</div>


<hr />
@foreach (var item in Model)
{



    string path = "~/Images/" + $"{item.Id}" + ".png";
    <form asp-controller="Commodity" asp-action="Details" asp-route-id="@item.Id">
        <button class="CommodityBox" type="submit">
            <div>
                <img src="@path" asp-append-version="true" width="50" />
                <p>@(char.ToUpper(item.Name[0]) + item.Name.Substring(1))</p>
                <p>@Math.Round(item.Price,2)</p>
                <p>@item.Description</p>
                <p>@item.PublicationDate</p>
            </div>
        </button>
    </form>
    <br />
}

